# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.env/

# Environment Variables
.env

# ChromaDB
chroma_db/

# Mac Files
.DS_Store

# VS Code
.vscode/

# JetBrains
.idea/

# Logs
*.log